<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "icon" href = "../img/FaviconAxo.png">
    <link rel = "stylesheet" href="../styles/game.css">
</head>
<body id = "input">
    <h1 style="text-align: center;">Crossing Axo</h1>
    <div id="fondo">
        <canvas id="miCanvas" width="450" height="500">
            <p>Error al cargar canvas<br> No funciona en tu navegador</p>
        </canvas>
        <script src="../../dynamics/js/index.js"></script>    
    </div>
</body>
</html>